*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Work Sans";
}
nav{
    display: flex;
    padding: 0.75rem 6.25rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px gray;
}

.nav-center{
    display: flex;
    padding: 10px 21px 10px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 39px;
}
a{
    text-decoration: none;
}
.nav-center a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
   
    
}
.nav-center a::after{
   
    content: "";
    background-color: #120B48;
    display: block;
    height:2px;
    width:0%;
     transition: 1s;
}
.nav-center a:hover::after{
    width:100%;
}
.nav-center a:hover{
    color: #120B48;
}
.nav-right a{
    padding: 10px;
    background-color: #120B48;
    color: white;
    border-radius: 10px;
font-family: "Sora";
font-size: 18px;
font-weight: 600;
}
.nav-right a:hover{
    opacity: 0.7;
   
}

@media screen and (max-width: 768px) {
    nav{
        padding: 5px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .nav-right {
        margin: 20px 0;
    }
}
